<form [formGroup]="registerForm">

    <!-- Full Name -->
    <div class="divAll">
        <label for="" class="labelAll"> Logline</label>
        <input type="text" class=" selectAll form-control" formControlName="fullname" placeholder="Enter Name">
    </div>
    <span class="redC" *ngIf="f.fullname.touched && f.fullname.invalid">
        *Full name is invalid
    </span>

    <!-- Email -->
    <div class="divAll">
        <label for="" class="labelAll"> Email id</label>
        <input type="text" class=" selectAll form-control" formControlName="email" placeholder="Enter Email id">
    </div>
    <span class="redC" *ngIf="f.email.touched && f.email.invalid">
        *Email id is invalid
    </span>

    <!-- Mobile Number -->
    <div class="divAll">
        <label for="" class="labelAll"> Mobile Number</label>
        <input type="number" class=" selectAll form-control" formControlName="mobile" placeholder="Enter Mobile Number">
    </div>
    <span class="redC" *ngIf="f.mobile.touched && f.mobile.invalid">
        *Mobile Number is invalid
    </span>

    <mat-form-field appearance="fill" class="example-form-field">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="datepicker">
        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker>
            <mat-datepicker-actions>
                <button mat-button matDatepickerCancel>Cancel</button>
                <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
            </mat-datepicker-actions>
        </mat-datepicker>
    </mat-form-field>




    <!-- Password -->
    <div class="divAll">
        <label for="" class="labelAll"> Password</label>
        <input type="password" class=" selectAll form-control" formControlName="password" placeholder="Enter Password">
    </div>
    <span class="redC" *ngIf="f.password.touched && f.password.invalid">
        *Password is invalid
    </span>

    <!-- Invite Code -->
    <div class="divAll">
        <label for="" class="labelAll"> Invite Code</label>
        <input type="text" class="selectAll form-control" formControlName="invitecode" placeholder="Enter Invitation Code">
    </div>
    <span class="redC" *ngIf="f.invitecode.touched && f.invitecode.invalid">
        *Invite Code is invalid
    </span>

</form>